<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <form action="/signIn" method="POST">
      <div>
        <input
          type="email"
          title="userName"
          id="nameId"
          name="email"
          placeholder="Enter Email Address"
          required
        />
      </div>
      <div>
        <input
          type="password"
          title="userName"
          id="nameId"
          name="password"
          placeholder="Enter Password"
          required
        />
      </div>
      <button type="submit">Sign In</button>
    </form>
    <a href="/signUp">No account? Sign Up here..</a>
  </body>
</html>